/* Авто тема */
:root {
    --bg: #ffffff;
    --text: #000000;
    --card: #f3f3f3;
    --sidebar: #e6e6e6;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #111827;
        --text: #e5e7eb;
        --card: #1f2937;
        --sidebar: #0f172a;
    }
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--bg);
    color: var(--text);
    display: flex;
}

.sidebar {
    width: 250px;
    background: var(--sidebar);
    height: 100vh;
    padding: 20px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.menu-item {
    width: 100%;
    padding: 12px;
    margin-bottom: 8px;
    background: var(--card);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
}

.menu-item:hover {
    background: #3b82f6;
    color: white;
}

.content {
    padding: 30px;
    flex-grow: 1;
}

.card {
    background: var(--card);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}
